<div class="d-flex flex-column" style="height: 100vh">
  <div style="height: 10vh">
    <div class="border h-100">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xxl-4 col-md-6">
              <label class="form-label">Grupo:</label>

              <select id="group" class="form-select" [(ngModel)]="filter.category" (change)="onchangeFilter()">
                <option [ngValue]="null">Selecione...</option>
                <option *ngFor="let category of categories" [ngValue]="category">{{ category }}</option>
              </select>
            </div>

            <div class="col-xxl-4 col-md-6">
              <label class="form-label">Logradouro:</label>

              <select id="group" class="form-select" [(ngModel)]="filter.address" (change)="onchangeFilter()">
                <option [ngValue]="null">Selecione...</option>
                <option *ngFor="let address of addresses" [ngValue]="address">{{ address }}</option>
              </select>
            </div>

            <div class="col-xxl-4 col-md-6">
              <label class="form-label">Tem Hidrômetro?:</label>

              <select id="hasMeterFilter" class="form-select" [(ngModel)]="filter.hasMeter" (change)="onchangeFilter()">
                <option [ngValue]="null">Selecione...</option>
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 60vh">
    <div class="border h-100 d-flex flex-column">
      <div class="border mb-0 flex-grow-1 overflow-auto">
        <table class="table table-hover table-striped mb-0" style="min-width: 100%">
          <thead class="table-light" style="position: sticky; top: 0; z-index: 1">
            <tr style="cursor: pointer" (click)="toggleAll()">
              <th style="width: 20%">Endereco</th>
              <th style="width: 15%">Name</th>
              <th style="width: 15%">Categoria</th>
              <th style="width: 5%">Água/lt</th>
              <th style="width: 5%">Água/Consumo</th>
              <th style="width: 5%">Número</th>
              <th style="width: 5%">Valor</th>
              <th style="width: 5%">Selecionar</th>
            </tr>
          </thead>

          <tbody class="list form-check-all" table-body>
            <ng-container *ngFor="let item of preview.items; let a = index; trackBy: trackByGroupId">
              <tr class="bg-light" (click)="toggleGroup(item)" [ngClass]="{ 'table-success': item.checked }">
                <td colspan="7">
                  <div class="row">
                    <div class="text-center fw-bold" style="font-size: 16px">
                      {{ item.name }}
                    </div>
                  </div>
                </td>

                <td class="text-center">
                  <input [(ngModel)]="item.checked" type="checkbox" (click)="$event.stopPropagation()" />
                </td>
              </tr>

              <tr *ngFor="let i of item.items; trackBy: trackBySelectableId" [ngClass]="{ 'table-success': i.checked }" (click)="i.checked = !i.checked" style="cursor: pointer">
                <td>{{ i.place.address }}</td>
                <td>{{ i.category.name }}</td>
                <td>{{ i.customer.name }}</td>
                <td>{{ i.place.number + ' ' + i.place.letter }}</td>
                <td>{{ i.category.total | currency }}</td>
                <td>{{ i.consumption }}</td>
                <td>{{ i.water_value | currency }}</td>
                <td class="text-center">
                  <input [(ngModel)]="i.checked" type="checkbox" (click)="$event.stopPropagation()" />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div style="height: 20vh">
    <div class="border h-100">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 col-12">Total de items: {{ totalItems() }}</div>
            <div class="col-md-3 col-12">Valor Total: {{ totalValue() | currency }}</div>
            <div class="col-md-3 col-12">Items Selecionados: {{ totalISelectedtems() }}</div>
            <div class="col-md-3 col-12">Valor Selecionado: {{ totalSelectedValue() | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
