
<div *ngIf="loaded">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>

          <nb-card-header>
            Deletar Matrícula
          </nb-card-header>

          <nb-card-body>
            <div class="row mb-3">

              <div class="col-12">
                <input  nbInput fullWidth [(ngModel)]="place.address.name" disabled>
              </div>

            </div>

            <div class="row mb-3">

              <div class="col-md-6 col-12">
                <label for="number" class="label">Número:</label>
                <input id="number" mask="0*" nbInput fullWidth placeholder="Número:" [(ngModel)]="place.number" disabled>
              </div>

              <div class="col-md-6 col-12">
                <label for="letter" class="label">Letra:</label>
                <input id="letter" type="text" mask="A*" nbInput fullWidth placeholder="Letra:" [(ngModel)]="place.letter" disabled>
              </div>

              <div class="col-12">
                <label for="letter" class="label">Observações:</label>
                <textarea id="letter" type="text" nbInput fullWidth placeholder="Observações:" [(ngModel)]="place.other" [disabled]="true"></textarea>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6 col-12 form-inline">
                <nb-checkbox title="Possui Hidrômetro" [(ngModel)]="place.hasHydrometer" disabled status="basic">Possui Hidrômetro?</nb-checkbox>
              </div>
            </div>


          </nb-card-body>
          <nb-card-footer>

            <div class="d-flex justify-content-between">
              <button type="button" nbButton outline status="basic" (click)="back()">
                <nb-icon icon="arrow-back-outline"></nb-icon>
              </button>

              <button type="submit" nbButton outline status="danger" (click)="submit()">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>

          </nb-card-footer>
        </nb-card>

      </div>

    </div>

</div>
