<nb-card>

  <nb-card-header>
    Matrículas
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [nbSpinner]="loading">
      <thead>
        <tr>
          <th class="col-9 align-middle" (click)="order('address.name')">
            Logradouro:
            <nb-icon *ngIf="filter.sortedField === 'address.name' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'address.name' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" (click)="order('number')">
              Número:
              <nb-icon *ngIf="filter.sortedField === 'number' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
              <nb-icon *ngIf="filter.sortedField === 'number' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" (click)="order('letter')">
            Letra:
            <nb-icon *ngIf="filter.sortedField === 'letter' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'letter' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" (click)="order('hasHydrometer')">
            Possui Hidrômetro:
            <nb-icon *ngIf="filter.sortedField === 'hasHydrometer' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'hasHydrometer' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" colspan="2">
            <button nbButton outline status="basic" fullWidth (click)="add()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </th>

        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <ngx-select-address [(address)]="filter.address" (addressChange)="search()" [showTitle]='false' [addSelectOption]='true' ></ngx-select-address>
          </th>

          <th>
            <input type="text" mask="0*" nbInput placeholder="Número" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.number">
          </th>

          <th>
            <input type="text" mask="A*" nbInput placeholder="Letra" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.letter">
          </th>

          <th>
            <nb-select id ="possui" placeholder="Selecione" [(ngModel)]="filter.hasHydrometer" fullWidth  (ngModelChange)="search()" >
              <nb-option [value]='null'>Todos</nb-option>
              <nb-option [value]='true'>Sim</nb-option>
              <nb-option [value]='false'>Não</nb-option>
            </nb-select>

          </th>

          <th>
            <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
              <nb-icon icon="undo-outline"></nb-icon>
            </button>
          </th>

          <th>
            <button nbButton outline status="success" fullWidth (click)="search()">
              <nb-icon icon="funnel-outline"></nb-icon>
            </button>
          </th>

        </tr>
      </thead>

      <tbody >
        <tr *ngFor="let item of page?.content">
          <td class="align-middle">{{item.address.name}}</td>
          <td class="align-middle">{{item.number}}</td>
          <td class="align-middle">{{item.letter}}</td>

          <td class="align-middle">{{item.hasHydrometer ? "Sim":"Não" }}</td>

          <td class="align-middle">
            <button nbButton outline status="warning" fullWidth (click)="edit(item.id)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle">
            <button nbButton outline status="danger" fullWidth (click)="remove(item.id)" >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="5" *ngIf="page">
            <ngx-app-table-footer [page]="page" (search)="paginate($event)">
            </ngx-app-table-footer>
          </td>
        </tr>
      </tfoot>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
