<div class="row">
  <div class="col-lg-12">
    <app-card>
      <app-card-header>
        <h5 class="card-title flex-grow-1 mb-0">Faturas</h5>

        <div class="d-flex gap-1 flex-wrap">
          <app-button btnType="success" outline (click)="create()"> Adicionar </app-button>
        </div>
      </app-card-header>

      <app-card-body>
        <app-table>
          <thead class="table-light" table-header>
            <tr>
              <th>Refererencia</th>
              <th>Vencimento</th>
              <th>Endereço</th>
              <th>Cliente</th>
              <th>Categoria</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody class="list form-check-all" table-body>
            <tr *ngFor="let i of page.content">
              <td>{{ i.reference }}</td>
              <td>{{ i.due_date }}</td>
              <td>{{ i.place.address }}</td>
              <td>{{ i.customer.name }}</td>
              <td>{{ i.category.name }}</td>
              <td>{{ i.total | currency }}</td>

              <td class="text-center">
                <ul class="list-inline hstack gap-2 mb-0">
                  <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" ngbTooltip="Edit" placement="top" (click)="edit(i)">
                    <i class="ri-pencil-fill fs-16"></i>
                  </li>

                  <li class="list-inline-item me-0" ngbTooltip="Remove" placement="top" data-bs-toggle="tooltip" data-bs-trigger="hover" (click)="delete(i)">
                    <a class="text-danger d-inline-block remove-item-btn">
                      <i class="ri-delete-bin-5-fill fs-16"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </app-table>
      </app-card-body>

      <app-card-footer>
        <app-pagination [page]="page" (pageChange)="onPageChange($event)" />
      </app-card-footer>
    </app-card>
  </div>
</div>
