<div class="text-center mb-2">
  <strong>PADRÃO DA PORTARIA MS 2914/2011</strong><br />
  Decreto Federal nº. 5.440/2005
</div>

<div class="table-responsive mb-3">
  <table class="table table-bordered text-center">
    <thead class="table-light">
      <tr>
        <th>Parâmetros</th>
        <th>Exigidas</th>
        <th>Analisadas</th>
        <th>Em Conformidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cor aparente - 15UH</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Turbidez - 5.0 UT</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Cloro - Min 0,2 mg/l</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Escherichia Coli</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
      </tr>
      <tr>
        <td>Coliformes Totais</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mb-3 small-text">
  <strong>Parâmetros de Qualidade da Água</strong><br />
  Coliformes Totais: Indicador que mensura contaminação bacteriológica do tipo: bacilos gram-negativos, aeróbios ou anaeróbios facultativos não esporogênicos, oxidase-negativos.<br />
  E. coli: Indicador que mensura contaminação bacteriológica de origem fecal.<br />
  Cloro Residual: Indicador do Poder Desinfetante oriundo do Cloro (Agente de Desinfecção).<br />
  Turbidez: Indicador do espalhamento de luz produzido pela presença de partículas em suspensão ou coloidais.<br />
  Cor Aparente: Indicador que mensura a cor em amostras com turbidez.
</div>
