<div class="text-center mb-2">
  <strong>PADRÃO DA PORTARIA MS 2914/2011</strong><br />
  Decreto Federal nº. 5.440/2005
</div>

<div class="table-responsive mb-3">
  <table class="table table-bordered table-striped text-center">
    <thead class="table-light">
      <tr>
        <th>Parâmetros</th>
        <th>Exigidas</th>
        <th>Analisadas</th>
        <th>Em Conformidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of invoice.water_quality.analysis">
        <td>{{ item.name }}</td>
        <td>{{ item.required }}</td>
        <td>{{ item.analyzed }}</td>
        <td>{{ item.conformity }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mb-3 small-text">
  <strong>Parâmetros de Qualidade da Água</strong><br />
  <ul>
    <li>Coliformes Totais: Indicador que mensura contaminação bacteriológica do tipo: bacilos gram-negativos, aeróbios ou anaeróbios facultativos não esporogênicos, oxidase-negativos.</li>
    <li>E. coli: Indicador que mensura contaminação bacteriológica de origem fecal.</li>
    <li>Cloro Residual: Indicador do Poder Desinfetante oriundo do Cloro (Agente de Desinfecção).</li>
    <li>Turbidez: Indicador do espalhamento de luz produzido pela presença de partículas em suspensão ou coloidais.</li>
    <li>Cor Aparente: Indicador que mensura a cor em amostras com turbidez.</li>
  </ul>
</div>
