<div class="row">
    <div class="col-xl-12">
        <div class="card">
            
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title align-middle mb-0 flex-grow-1">{{ 'PAGES.ADDRESS.TITLE' | translate }}</h4>
            </div>
            
            <div class="card-body">

                <div *ngIf="loading" class="table-responsive table-card mt-3 mb-1">
                    <table class="table align-middle table-nowrap table-striped-columns mb-0">
                        <thead class="table-light">
                            <tr>
                                <th class="col-11">{{ 'PAGES.ADDRESS.NAME' | translate }}:</th>
                                <th class="col-1">
                                    <button type="button" class="btn btn-success w-100" [routerLink]="['add']">
                                      <i class="ri-file-add-line align-bottom me-1"></i> 
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let address of addresses">
                                <td>{{ address.name }}</td>
                                <td>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-primary" (click)="edit(address)">
                                          {{ 'PAGES.ACTIONS.EDIT' | translate }}
                                        </button>

                                        <button class="btn btn-danger" (click)="delete(address)">
                                          {{ 'PAGES.ACTIONS.DELETE' | translate }}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
