<div class="mb-3">
  <div class="d-flex justify-content-between">
    <div style="flex: 1">
      <img src="assets/images/acal/acal.jpg" alt="Logo ACAL" />
    </div>

    <div style="flex: 6">
      <p class="h5">
        CNPJ - 13.228.119/0001-68<br />
        Publicação do estatuto no Diário Oficial de 22-06-1983.<br />
        Reconhecido como Órgão de utilidade pública Municipal - conf.lei N 7 de 27-10-1983.<br />
        Reconhecido como Órgão de utilidade pública Estadual - conf.lei N 7049 de 16-04-1997.<br />
        Rua Morro do Chapéu, CEP 44709-000, S/N. Telefone: (74) 9 8107-4362<br />
        Lages do Batata - Jacobina, BA.<br />
        Email: acallages&#64;hotmail.com
      </p>
    </div>
  </div>

  <div class="row border-top border-bottom text-center">
    <div class="col-12">
      <h2><u>ACAL - Associação Comunitária e Assistêncial de Lages</u></h2>
      <h6><u>ECONOMIZAR ÁGUA É UM DEVER DE TODO SER HUMANO.</u></h6>
    </div>
  </div>
</div>
