<app-breadcrumbs title="Usúarios" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
  <div class="col-lg-12">
    <app-card>
      <app-card-header>
        <h5 class="card-title flex-grow-1 mb-0">Usuários</h5>
        <div class="d-flex gap-1 flex-wrap">
          <app-button btnType="success" outline (click)="create()">Adicionar</app-button>
        </div>
      </app-card-header>

      <app-card-body *ngIf="!loading">
        <table datatable [dtOptions]="dtOptions" class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Identificação</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customeres">
              <td>{{ customer.name }}</td>
              <td>{{ customer.identity_card }}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-primary me-1" (click)="edit(customer)">
                  <i class="ri-pencil-fill"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="delete(customer)">
                  <i class="ri-delete-bin-5-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </app-card-body>

      <div *ngIf="loading" class="text-center p-3">
        <div class="spinner-border text-primary" role="status"></div>
      </div>
    </app-card>
  </div>
</div>
