<app-card>
  <app-card-body>
    <div class="accordion w-100">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Filtros</button>
        </h2>

        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row mb-3">
              <div class="col-xxl-4 col-md-6">
                <label class="form-label">Sócio:</label>
                <input type="text" class="form-control" (keydown.enter)="search()" [(ngModel)]="filter.name" />
              </div>

              <div class="col-xxl-4 col-md-6">
                <label class="form-label">Identificação:</label>
                <input type="text" class="form-control" (keydown.enter)="search()" [(ngModel)]="filter.identity_card" />
              </div>
            </div>

            <div class="row">
              <div class="col-6 col-md-2 offset-md-8 mb-3">
                <button type="button" class="btn btn-outline-info w-100" (click)="clear()"><i class="mdi mdi-magnify"></i> Limpar</button>
              </div>

              <div class="col-6 col-md-2">
                <button type="button" class="btn btn-outline-primary w-100" (click)="search()"><i class="mdi mdi-magnify"></i> Buscar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-card-body>
</app-card>

<div class="row">
  <div class="col-lg-12">
    <app-card>
      <app-card-header>
        <h5 class="card-title flex-grow-1 mb-0">Usuários</h5>
        <div class="d-flex gap-1 flex-wrap">
          <app-button btnType="success" outline (click)="create()">Adicionar</app-button>
        </div>
      </app-card-header>

      <app-card-body>
        <div class="table-responsive table-card">
          <table class="table table-striped table-borded align-middle table-nowrap mb-0">
            <thead>
              <tr>
                <th style="width: 80%">Nome</th>
                <th style="width: 15%">Identificação</th>
                <th style="width: 5%">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of page?.content; trackBy: trackById; let i = index">
                <td>{{ customer.name }}</td>
                <td>{{ customer.identity_card }}</td>

                <td class="text-center">
                  <ul class="list-inline hstack justify-content-center gap-2 mb-0">
                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" ngbTooltip="Edit" placement="top" (click)="edit(customer)">
                      <i class="ri-pencil-fill fs-16"></i>
                    </li>

                    <li class="list-inline-item me-0" ngbTooltip="Remove" placement="top" data-bs-toggle="tooltip" data-bs-trigger="hover" (click)="delete(customer)">
                      <a class="text-danger d-inline-block remove-item-btn">
                        <i class="ri-delete-bin-5-fill fs-16"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card-body>

      <app-card-footer>
        <app-pagination [page]="page" (pageChange)="onPageChange($event)" />
      </app-card-footer>
    </app-card>
  </div>
</div>
