<div class="d-flex gap-2 align-items-center justify-content-end pt-2 flex-wrap">
  <!-- Primeira página -->
  <app-button btnType="primary" outline [disabled]="isFirstPage()" (click)="goToPage(1)"> <i class="mdi mdi-chevron-double-left"></i> Primeira </app-button>

  <!-- Página anterior -->
  <app-button btnType="primary" outline [disabled]="isFirstPage()" (click)="goToPage(page - 1)"> <i class="mdi mdi-chevron-left"></i> Anterior </app-button>

  <!-- Página atual -->
  <app-button btnType="primary" outline [disabled]="true"> <i class="mdi mdi-cellphone-link"></i> {{ page }} </app-button>

  <!-- Página seguinte -->
  <app-button btnType="primary" outline [disabled]="isLastPage()" (click)="goToPage(page + 1)"> <i class="mdi mdi-chevron-right"></i> Próxima </app-button>

  <!-- Última página -->
  <app-button btnType="primary" outline [disabled]="isLastPage()" (click)="goToPage(totalPages)"> <i class="mdi mdi-chevron-double-right"></i> Última </app-button>
</div>
