<nb-card>

  <nb-card-header>
    Preços
  </nb-card-header>

  <nb-card-body>

    <ngx-app-table [nbSpinner]="loading">
      <thead>
        <tr>

          <th class="col-2 align-middle" (click)="order('category')">
            Categoria:
            <nb-icon *ngIf="filter.sortedField === 'category' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'category' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-7 align-middle" (click)="order('name')">
            Nome:
            <nb-icon *ngIf="filter.sortedField === 'name' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'name' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" (click)="order('value')">
            Valor Taxa:
            <nb-icon *ngIf="filter.sortedField === 'value' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'value' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" (click)="order('categoryValue')">
            Valor Categoria:
            <nb-icon *ngIf="filter.sortedField === 'categoryValue' && filter.direction === 'ASC'" icon="arrow-ios-upward-outline"></nb-icon>
            <nb-icon *ngIf="filter.sortedField === 'categoryValue' && filter.direction === 'DESC'" icon="arrow-ios-downward-outline"></nb-icon>
          </th>

          <th class="col-1 align-middle" colspan="2">
            <button nbButton outline status="basic" fullWidth (click)="add()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <ngx-select-category [(category)]="filter.category" (categoryChange)="this.search()"></ngx-select-category>
          </th>

          <th>
            <input type="text" nbInput placeholder="Nome" fullWidth (keydown.enter)="search()" [(ngModel)]="filter.name">
          </th>

          <th>
            <ngx-input-currency [(currency)]="filter.value" placeholder="Valor" (keydown.enter)="search()" ></ngx-input-currency>
          </th>

          <th>
            <ngx-input-currency [(currency)]="filter.categoryValue" placeholder="Valor" (keydown.enter)="search()" ></ngx-input-currency>
          </th>

          <th>
            <button nbButton outline status="basic" type="button" fullWidth (click)="reset()">
              <nb-icon icon="undo-outline"></nb-icon>
            </button>
          </th>

          <th>
            <button nbButton outline status="success" fullWidth (click)="search()">
              <nb-icon icon="funnel-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody >
        <tr *ngFor="let item of page?.content">
          <td class="align-middle">{{item.category | category}}</td>
          <td class="align-middle">{{item.name}}</td>
          <td class="align-middle">{{item.value | currency}}</td>
          <td class="align-middle">{{item.categoryValue | currency}}</td>

          <td class="align-middle">
            <button nbButton outline status="warning" fullWidth (click)="edit(item.id)">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </button>
          </td>

          <td class="align-middle">
            <button nbButton outline status="danger" fullWidth (click)="remove(item.id)" >
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="6" *ngIf="page">
            <ngx-app-table-footer [page]="page" (search)="paginate($event)">
            </ngx-app-table-footer>
          </td>
        </tr>
      </tfoot>

    </ngx-app-table>

  </nb-card-body>

</nb-card>
