<div class="row mb-3">
  <div class="d-flex justify-content-between" style="gap: 1rem">
    <div class="border rounded text-center" style="flex: 1">
      <strong>Nº de Associado</strong><br />
      {{ invoice.customer.partner_number }}
    </div>

    <div class="border rounded text-center" style="flex: 1">
      <strong>Boleto nº:</strong><br />
      {{ invoice.number }}
    </div>

    <div class="border rounded text-center" style="flex: 1">
      <strong>Conta referente:</strong><br />
      {{ invoice.reference }}
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="d-flex justify-content-between" style="gap: 1rem">
    <div class="border rounded" style="flex: 1">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tr>
            <td><strong>Sócio:</strong></td>
            <td>{{ invoice.customer.name }}</td>
          </tr>
          <tr>
            <td><strong>Endereço:</strong></td>
            <td>{{ invoice.place.name }} {{ invoice.place.number }}{{ invoice.place.letter }}</td>
          </tr>
          <tr>
            <td><strong>Local:</strong></td>
            <td>Lages do Batata - Jacobina BA.</td>
          </tr>
          <tr>
            <td><strong>Categoria:</strong></td>
            <td>{{ invoice.category.group | group }} {{ invoice.category.name }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="border rounded" style="flex: 1"></div>

    <div class="border rounded" style="flex: 1">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tr>
            <td><strong>Data de Emissão:</strong></td>
            <td></td>
          </tr>

          <tr>
            <td><strong>Vencimento:</strong></td>
            <td>{{ invoice.due_date | date }}</td>
          </tr>

          <tr *ngFor="let item of invoice.values">
            <td>
              <strong>{{ item.name }}:</strong>
            </td>
            <td>{{ item.value | currency }}</td>
          </tr>

          <tr>
            <td><strong>Valor total::</strong></td>
            <td>{{ invoice.total | currency }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
