<div class="row mb-3">
  <div class="d-flex justify-content-between" style="gap: 1rem">
    <div class="border rounded text-center" style="flex: 1">
      <strong>Nº de Associado</strong><br />
      446
    </div>

    <div class="border rounded text-center" style="flex: 1">
      <strong>Boleto nº:</strong><br />
      115280
    </div>

    <div class="border rounded text-center" style="flex: 1">
      <strong>Conta referente:</strong><br />
      Janeiro, 2020
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="d-flex justify-content-between" style="gap: 1rem">
    <div class="border rounded w-100" style="flex: 1">
      <div class="table-responsive w-100">
        <table class="table table-bordered table-striped w-100">
          <tr>
            <td><strong>Sócio:</strong></td>
            <td>Alexandre Bezerra de Queiroz</td>
          </tr>
          <tr>
            <td><strong>Endereço:</strong></td>
            <td>Avenida Fernando Daltro</td>
          </tr>
          <tr>
            <td><strong>CEP:</strong></td>
            <td>44709-000, Lages do Batata - Jacobina BA.</td>
          </tr>
          <tr>
            <td><strong>Categoria:</strong></td>
            <td>Sócio Contribuinte Temporário</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="border rounded" style="flex: 1"></div>

    <div class="border rounded" style="flex: 1">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <tr>
            <td><strong>Data de Emissão:</strong></td>
            <td>24 Julho 2025</td>
          </tr>
          <tr>
            <td><strong>Vencimento:</strong></td>
            <td>R$ 26,50</td>
          </tr>
          <tr>
            <td><strong>Valor Excesso:</strong></td>
            <td>R$ 0,00</td>
          </tr>
          <tr>
            <td><strong>Outras Taxas:</strong></td>
            <td>R$ 0,00</td>
          </tr>
          <tr>
            <td><strong>Taxas Sócio:</strong></td>
            <td>R$ 0,00</td>
          </tr>
          <tr>
            <td><strong>Valor total::</strong></td>
            <td>R$ 26,50</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
