
<div *ngIf="loaded">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>

          <nb-card-header>
            Delete Endereço
          </nb-card-header>

          <nb-card-body>
            <div class="row mb-3">

              <div class="col-12">
                <label for="name" class="label">Nome:</label>
                <input id="name" type="text" nbInput fullWidth placeholder="Nome:" [(ngModel)]="address.name" disabled>
              </div>

            </div>

          </nb-card-body>
          <nb-card-footer>

            <div class="d-flex justify-content-between">
              <button type="button" nbButton outline status="basic" (click)="back()">
                <nb-icon icon="arrow-back-outline"></nb-icon>
              </button>

              <button type="button" nbButton outline status="danger" (click)="commit()">
                <nb-icon icon="trash-2-outline"></nb-icon>
              </button>
            </div>

          </nb-card-footer>
        </nb-card>

      </div>

    </div>

</div>
