<nb-card>

  <nb-card-header>
    Registrar Coleta para a referência:  {{reference | reference}}
  </nb-card-header>

  <nb-card-header *ngIf="!reference">
    <ngx-hydrometer-select-reference (setReference)="setReference($event)"></ngx-hydrometer-select-reference>
  </nb-card-header>

  <nb-card-body *ngIf="reference">
    <nb-accordion>
      <nb-accordion-item>
       <nb-accordion-item-header>Detalhes</nb-accordion-item-header>
       <nb-accordion-item-body>
          <span class="d-flex justify-content-between align-items-center">
            Valor considerado por litro:
            <b>
              <input nbInput type="number"
              [(ngModel)]="waterMonetaryValue" disabled>
            </b>
          </span>
          <hr>
          <span class="d-flex justify-content-between align-items-center">
            Gratuidade em litros:
            <input
              nbInput [(ngModel)]="waterFreeTear" type="number"
              mask="0*"
              mask="separator.3"
              thousandSeparator="."
              disabled>
          </span>
       </nb-accordion-item-body>
      </nb-accordion-item>
     </nb-accordion>

  </nb-card-body>


  <nb-card-body *ngIf="reference">

    <ngx-app-table [tableStriped]="false" >
      <thead>

        <th class="col-4 align-middle">
          Responsável:
        </th>

        <th class="col-1 align-middle">
          Matricula
        </th>

        <th class="col-1 align-middle">
          Registro Anterior:
        </th>

        <th class="col-2 align-middle">
          Registro Atual:
        </th>

        <th class="col-1 align-middle">
          Consumo total:
        </th>

        <th class="col-1 align-middle">
          Consumo considerado:
        </th>

        <th class="col-1 align-middle">
          valor:
        </th>

        <th class="col-1 align-middle">
        </th>

      </thead>
      <tbody>


    <ng-container *ngFor="let item of data">
      <tr class="table-success">
        <td class="text-center" colspan="8">
          <b>{{item.addressName}}</b>
        </td>
      </tr>

      <tr *ngFor="let insideItem of item.linkHydrometerPair">

        <td class="align-middle">
          <b>{{insideItem.link.customer.name}}</b>
        </td>

        <td class="align-middle">
          <b>{{insideItem.link.place.number + insideItem.link.place.letter}}</b>
        </td>

        <td class="align-middle">
          <b>{{insideItem.lastConsumption | number}}</b>
        </td>

        <td class="align-middle">
          <input
            [(ngModel)]="insideItem.actualConsumption"
            type="text" nbInput placeholder="Consumo"
            mask="0*"
            [min]="insideItem.lastConsumption"
            mask="separator.3"
            thousandSeparator="."
            fullWidth>
        </td>

        <td class="align-middle">
          {{waterConsumtion(insideItem.lastConsumption, insideItem.actualConsumption)| number }}
        </td>

        <td class="align-middle">
          {{consideredWaterConsumption(insideItem.lastConsumption, insideItem.actualConsumption)| number }}
        </td>

        <td class="align-middle">
          {{waterValue(insideItem) | currency}}
        </td>

        <td class="align-middle">
          <nb-checkbox
            status="success"
            [checked]="insideItem.checked" (checkedChange)="insideItem.checked = !insideItem.checked" >
          </nb-checkbox>
        </td>

      </tr>

    </ng-container>
      </tbody>
    </ngx-app-table>

  </nb-card-body>

  <nb-card-footer>

    <div class="d-flex justify-content-between">
      <button type="button" nbButton outline status="basic" (click)="back()">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>

      <button type="button" nbButton outline status="success" (click)="save()">
        <nb-icon icon="save-outline"></nb-icon>
      </button>
    </div>

  </nb-card-footer>

</nb-card>

